#Tanya {
	font-size: 65pt;
	font-family: 'Kristi', cursive;
	font-weight: bold;
	text-align: center;
	color: #FF46A7;
	width: 60%;
	border-top: gray;
	border-top-style: solid;
	border-bottom-style: solid;
	margin: auto;
	margin-top: 3%;
}