h1 {
	text-align: center;
	background-color: #D7D7FF;
	width: 80%;
	position: relative;
	font-family: 'Lobster', cursive;
	margin:auto;
}

h4 {
	margin: auto;
	font-family: "Indie FLower", cursive;
	margin-top: 10px;
	text-align: right;
	background-color: #CFE5E5;
	width: 70%;
	padding-right: 10px;
}

p {
	width: 70%;
	margin: auto;
	margin-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}
section {
	margin-top: 70px;
	border-color: #737F7F;
	border-left-style: dotted;
	border-right-style: dotted;
	margin-bottom:20px;
}