#Tanya {
	font-size: 65pt;
	font-family: 'Kristi', cursive;
	font-weight: bold;
	text-align: center;
	color: #FF46A7;
	width: 60%;
	border-top: gray;
	border-top-style: solid;
	border-bottom-style: solid;
	margin: auto;
	margin-top: 3%;
}

#Sidebar{
	width: 17%;
	float:left;
	margin: 0px;

}
ol {
	list-style-type: none;
	padding: 0;
}
li{
	list-style-type: none;
}
h1 {
	text-align: center;
  	/*background-color: #D7D7FF;*/
  	width: 70%;
  	position: relative;
  	font-family: 'Lobster', cursive;
  	margin: auto;
  	float: right;
  	padding-right: 10px;
  	margin-right: 1%;
  	position: relative;
  	border-top: 15px;
  	margin-top: 10px;
}

h4 {
	 margin: auto;
  	font-family: "Indie FLower", cursive;
	margin-top: 10px;
	text-align: left;
	/*background-color: #CFE5E5;*/
	width:70%;
	padding-right: 10px;
	float: right;
	margin-right: 1%;
}

p {
	width: 95%; 
	margin: auto;
	margin-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
}
section {
	margin-top: 5px;
 	width: 70%;
  	margin-left: auto;
  	margin-right: auto;
  	border-color: #737F7F;
  	border-left-style: dotted;
  	border-right-style: dotted;
  	border-bottom-style: solid;
  	background-color: white;
  	padding-top: 15px;
  	padding-bottom: 20px;
  	float: right;
  	margin-right: 1%;
}